{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% if msg %}
<br />
<p class="warning">{{ msg }}</p>
{% endif %}
{% if form2.errors %}
<div class="errors" align="center">
    <big >
        {% if form2.non_field_errors %}
        <span class="error">{{ form2.non_field_errors|join:", " }}</span>
        {% endif %}
        {% if form2.username.errors %}
        <span class="error">{{ form2.username.errors|join:", " }}</span>
        {% endif %}
        {% if form2.password.errors %}
        <span class="error">{{ form2.password.errors|join:", " }}</span>
        {% endif %}
    </big>
    <br/>
    <br/>
</div>
<br>
{% endif %}

{% if form1.errors %}
<div class="errors" align="center" >
    <big><span class="error">{{ form1.openid_url.errors|join:", " }}</span></big>
    <br/>
    <br/>
</div>
{% endif %}

<div class="login">

    <form id="auth_form" name="auth_form" action="{% url user_signin %}" method="post">{% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <fieldset class="sign-in" >


            <legend>{% trans "Sign in using your CNPNews account" %}</legend>
            <div class="form-row">
                <label for="id_username">{% trans "Username:" %}</label>
            {{ form2.username }}</div>
            <div class="form-row">
                <label for="id_password">{% trans "Password" %}</label>
            {{ form2.password }}</div>

            <div class="submit-row"><input class="button" type="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
        </fieldset>
    </form>

    <form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">{% csrf_token %}
        <input type="hidden" name="action" value="verify" />
        <input type="hidden" name="next" value="{{ next }}" />
        <fieldset class="google-sign-in" >
            <legend>{% trans "Signin using your Neuro account" %}</legend>
            <div id="openid_input_area">
                <img src="/static/google_logo.png" ><br/><br/>
                <input type="hidden" name="openid_url"value="https://www.google.com/accounts/o8/id" id="id_openid_url">
                <input class="button" name="openid_submit" type="submit" value='{% trans "Sign in with your Google Account" %}'>
            </div>
        </fieldset>
    </form>
</div>	
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/openid-jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        openid.init('id_openid_url');
    });
</script>
<!-- /Simple OpenID Selector -->

{% endblock %}

