<html>
    <body style="font: 12px/1.25 arial,helvetica,sans-serif;
    background-image:url(/media/img/bg.jpg);
    background-color: black;
    background-position:30px 30px;
    background-repeat:no-repeat;" >

    <table align="center" style="
        float:right;
        border: 2px solid #CCC;
        background-color:white;padding-left:30px;padding-right:30px;padding-bottom:10px;padding-top:10px;" >
        <tr>
            <td >
                <h3 style="color: #EE0000;font-size:14px;" >
                    Admin area
                </h3>
                <div style="color: #333333;font-size:12px;" >
                    <span style="color: #0099FF; font-weight:bold;" >To manage the newsletter contents</span>
                    <ul>
                        <li>
                            Please <a href="/admin/">click here</a>
                        </li>
                    </ul>                    
                </div>
            </td>
        </tr>
        <tr>
            <td >
                <h3 style="color: #EE0000;font-size:14px;" >
                    Test newsletter
                </h3>
                <div style="color: #333333;font-size:12px;" >
                    <span style="color: #0099FF; font-weight:bold;" >To test the internal newsletter use the urls</span>
                    <ul>
                        <li>http://{website}/test_newsletter/int</li>
                        <li>http://{website}/test_newsletter/int/{year}/{month}/{day}/</li>
                    </ul>
                    Examples:
                    <ul>
                        <li><a href="/test_newsletter/int">/test_newsletter/int</a></li>
                        <li><a href="/test_newsletter/int/2011/12/02/">/test_newsletter/int/2011/12/02/</a></li>
                    </ul>
                </div>
                <div style="color: #333333;font-size:12px;" >
                    <span style="color: #0099FF; font-weight:bold;" >To test the external newsletter use the urls</span>
                    <ul>
                        <li>http://{website}/test_newsletter/ext</li>
                        <li>http://{website}/test_newsletter/ext/{year}/{month}/{day}/</li>
                    </ul>
                    Examples:
                    <ul>
                        <li><a href="/test_newsletter/ext">/test_newsletter/ext</a></li>
                        <li><a href="/test_newsletter/ext/2011/12/02/">/test_newsletter/ext/2011/12/02/</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <h3 style="color: #EE0000;font-size:14px;" >
                    Test tomorrow events
                </h3>
                <div style="color: #333333;font-size:12px;" >
                    <span style="color: #0099FF; font-weight:bold;" >To test tomorrow events newsletter, use the urls</span>
                    <ul>
                        <li>http://{website}/test_event/</li>
                        <li>http://{website}/test_event/{year}/{month}/{day}/</li>
                    </ul>
                    Examples:
                    <ul>
                        <li><a href="/test_event/">/test_event/</a></li>
                        <li><a href="/test_event/2011/12/02/">/test_event/2011/12/02/</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>

    </body>
</html>
