{% load thumbnail %}
<html>
    <body style="font: 12px/1.25 arial,helvetica,sans-serif;" >
        <table style="border: 1px solid #D3D7D9;padding:20px" align="center" width="650px" >
           <tr>
                <td colspan="2" style="border-bottom: 1px dashed #D3D7D9;" >
                    <h2 style="color: #0099FF;font-size:14px;" >
                        {{ subject }}
                    </h2>
                    <h3 style="color: #333333;font-size:13px; " >
                        {% if message.3 %}<span style="color: #0099FF;" >{{ when }}:</span> {{ message.3 }}<br/>{% endif %}
                        {% if message.4 %}<span style="color: #0099FF;" >WHERE:</span> {{ message.4 }}<br/>{% endif %}
                    </h3>
                    
                    <table style="border-collapse: collapse;border:none;" >
                        <tr style="border-collapse: collapse;border:none;font-size:13px;" >
                            {% thumbnail message.6 "80x80" crop="center" as im %}
                                <td valign="top" style="border-collapse: collapse;border:none;" >
                                <img style='padding-right: 10px; padding-bottom:10px' src="{{SITE_URL}}{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                </td>
                            {% endthumbnail %}
                            <td valign="top" style="border-collapse: collapse;border:none;font-size:13px;" ><span style="font-weight:bold;">{{ title }}</span><br/>{{ message.5|safe }}</td>
                        </tr>
                   </table>
                </td>
            </tr>
        </table>
        <br/>
        <div style="text-align:center" >For comments, suggestions or to add messages to the CNP News send an email to <b>cnpnews@neuro.fchampalimaud.org</b></div>
    </body>
</html>
